:root {
    --background: hsl(111, 12%, 89%);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background);
}

.header {
    background-color: white;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
}

.logo {
    margin: auto 30px;
}

.nav-bar {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-bar a {
    text-decoration: none;
    color: inherit;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
}

@keyframes highlight {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#sale {
    animation: highlight 2s infinite;
    color: red;
    font-weight: bold;
    font-size: 18px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

input[type="search"] {
    height: 35px;
    width: 250px;
    border: none;
    padding: 10px;
    background-color: var(--background);
}

.search-icon {
    display: inline-block;
    background-color: rgba(253, 253, 30, 0.973);
    padding: 8px 12px;
    font-size: 17px;
    border: 0;
}

.icons {
    display: flex;
    text-align: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 10px;
}

.icons li {
    margin: 20px;
    font-size: 20px;
}