* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #CCD3CA;
}

.header {
    background-color: white;
    width: full;
    height: 70px;
    display: flex;
    align-items: center;
    border: none;
}



.logo {
    margin: auto 30px;
}

.nav-bar {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-bar a {
    text-decoration: none;
    color: inherit;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#sale {
    animation: blink 2s infinite;
    color: red;
    font-weight: bold;
    font-size: 18px;
}

.search-bar {}

.search {}